<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('build/killer.css') }}">
    <title> Killer </title>
</head>

<h1>KILLERS</h1>


<div>
    <form action="killer.html.twig" method="get" name="myForm">
        <label style="position: center" for="name">Name: </label>
        <input type="text" id="name" name="name">
        <br><br>
        <label for="weapon">weapon: </label>
        <input type="text" id="weapon" name="weapon">
        <br><br>
        <label for="country">country: </label>
        <input type="text" id="country" name="country">
        <br><br>
        <label for="year">year: </label>
        <input type="date" id="year" name="year">
        <br><br>
        <input type="button" onclick="formSubmit()" value="Send form data!">
    </form>
</div>

<ul>
    {% for kill in killer %}
    <li>
        {{ kill.name }} | {{ kill.kills }}{{ ' kills' }}
        <span>{{ ' by'}} {{ kill.weapon }} </span>
        <br>
        <span>{{ 'city: ' }}{{ kill.country }}</span>
        <br>
        <span>{{ kill.year|ago }}</span>
    </li>
    {% endfor %}
</ul>



</body>
</html>